<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h2 class="text-3xl text-green-700 font-bold underline text-clifford">Hello World</h2>
    <p><%= 5 * 2%></p>
    <img src="/images/image.png" alt="">


    <script src="/javaScripts/script.js"></script>
</body>
</html>