<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Project</title>
  </head>
  <body>
    <section class="main bg-zinc-800 w-full min-h-screen">
      <div class="p-10">
        <form action="/create", method="post">
          <input
            type="text"
            class="bg-zinc-700 px-5 py-2 rounded-md text-white w-full block outline-none"
            placeholder="Task title"
            name="title"
          />
          <textarea
            style="
              background-color: rgb(89, 89, 89);
              width: 100%;
              border-radius: 8px;
              height: 100px;
              color: white;
              margin-top: 10px;
              padding: 8px 16px;
              outline: none;
            "
            placeholder="Task description"
            name="description"
            id=""
          ></textarea>

          <input
            type="submit"
            value="Create Task"
            class="px-5 py-2 bg-teal-500 text-white rounded-md mt-2 cursor-pointer"
          />
        </form>
      </div>
      <div class="tasks p-10 flex gap-6 flex-wrap">
        <% if (files.length > 0) { %> <% files.forEach((val) => { %>
        <div class="task bg-zinc-700 p-4 min-w-72 rounded-md">
          <div class="task bg-zinc-700 p-4 min-w-72 rounded-md">
            <h2 class="text-2xl text-white"><%= val %></h2>
            <div class="w-full flex items-center justify-between">
                <a class="text-blue-500 underline block mt-4" href="/file/<%= val %>">Read more</a>
            <a class="text-gray-400 underline block mt-4" href="/edit/<%= val %>">Edit filename</a>
            </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <div class="p-10">
          <h2 class="text-3xl text-red-500">No Tasks Yet.</h2>
        </div>
        <% } %>
      </div>
    </section>
  </body>
</html>
